/*
1.-Posicionamiento-->static, absolute, relative, fixed
2.-Modelo de Caja--->margin, border, padding, content
3.-Tipografía------->tipos, tamaños de fuente, etc
4.-Efectos Visuales->box-shadow, border-radius, gradient, etc
5.-Otros------------>reglas CSS y más
*/
:root {
    /*Colores*/
    --bitcon-orange: #f7913a;
    --soft-orange: #ffe9d5;
    --secundary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
}
 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;

 }

 html {
     font-size: 62.5%;
     font-family: "DM Sans",sans-serif;
     background-color: var(--off-white);
 }

 header {
     position: relative;
     display: flex;
     flex-direction: column;
     justify-content: center;
     width: 100%;
     min-width: 320px;
     height: 333px;
     text-align: center;
     background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    }

 header img {
     width: 150px;
     height: 24px;
     margin-top: 60px;
     align-self: center;
 }

 .header_tittle_container {
     width: 90%;
     min-width: 288px;
     max-width: 900px;
     height: 218px;
     margin-top: 30px;
     text-align: center;
     align-self: center;
 }

.header_tittle_container h1 {

    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.header_tittle_container p {
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header_tittle_container .header_button {
    position: absolute;
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    border-radius: 5px;
    /*Sombra*/
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.20);
    border: none;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
    left: calc(50% - 116px);
}

.header_button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('../Assets/icons/down-arrow.svg');
}

main {
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}

 .main_exchange_container {
     width: 100%;
     height: auto;
     padding-top: 80px;
     padding-bottom: 30px;
     text-align: center;
 }

 .main_exchange_container_tittle {
     width: 90%;
     min-width: 288px;
     max-width: 900px;
     margin: 0 auto;

 }

 .main_exchange_container .background_img {
     width: 200px;
     height: 200px;
     margin: 0 auto;
     margin-bottom: 50px;
     background-image: url('../Assets/img/Bitcoin.svg');
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
 }

 .main_exchange_container h2 {
     margin-bottom: 30px;
     font-size: 2.4rem;
     font-weight: bold;
     line-height: 2.6rem;
     color: var(--black);
 }

 .main_exchange_container p {
     margin-bottom: 30px;
     font-size: 1.4rem;
     font-weight: 500;
     line-height: 1.6rem;
     color: #757575;
 }

 .main-currency-table {
     width: 70%;
     min-width: 235px;
     max-width: 500px;
     height: 360px;
     margin: 0 auto;
     font-family: "Inter", sans-serif;
 }
 .main-currency-table .currency-table-title {
     margin: 15px;
     font-size: 1.8rem;
     font-weight: bold;
     line-height: 2.3rem;
     color: var(--bitcon-orange);
 }
 .main-currency-table .comisions {
    color: var(--secundary-blue)    ;
}

 .main-currency-table .currency-table-date {
    width: 173px; 
    margin: 0 auto;
    padding: 8px;
    
 }

 .currency-table-container {
     width: 90%;
     min-width: 230px;
     max-width: 300px;
     height: 250px;
     margin: 0 auto;
     margin-bottom: 16px;
 }

 .currency-table-container table{
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 15px; 
    background-color: var(--just-white);
    box-shadow: 0px 3px 2px #ccc;
 }

 .currency-table-container td {
     width: 50%;
     font-size: 1.6rem;
     font-weight: 500;
     line-height: 1.9rem;
     color: var(--grey);
 }

 .currency-table-container .table__top-left {
    border-radius: 8px 0 0 0;
 }
 
 .currency-table-container .table__top-rigth {
    border-radius: 0 8px 0 0;
 }

 .currency-table-container .table__bottom-rigth {
    border-radius: 0 0 8px 0;
 }

 .currency-table-container .table__bottom-left {
    border-radius: 0 0 0 8px;
 }

 .main-currency-table .table__rigth {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
 }
 .main-currency-table-icon {
     display: inline-block;
     width: 15px;
     height: 15px;
     margin-left: 10px;
     background-image: url("../assets/icons/trending-down.svg");
     background-size: contain;
     background-position: center;
     background-repeat: no-repeat;
     vertical-align: middle;
 }

 .trending-up {
     background-image: url("../assets/icons/trending-up.svg");
 }