/*
1.-Posicionamiento-->static, absolute, relative, fixed
2.-Modelo de Caja--->margin, border, padding, content
3.-Tipografía------->tipos, tamaños de fuente, etc
4.-Efectos Visuales->box-shadow, border-radius, gradient, etc
5.-Otros------------>reglas CSS y más
*/
:root {
    /*Colores*/
    --bitcon-orange: #f7913a;
    --soft-orange: #ffe9d5;
    --secundary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
}
 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;

 }

 html {
     font-size: 62.5%;
     font-family: "DM Sans",sans-serif;
     background-color: var(--off-white);
     scroll-behavior: smooth;
 }

 header {
     position: relative;
     display: flex;
     flex-direction: column;
     justify-content: center;
     width: 100%;
     min-width: 320px;
     height: 333px;
     text-align: center;
     background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    }

 header img {
     width: 150px;
     height: 24px;
     margin-top: 60px;
     align-self: center;
 }

 .header_tittle_container {
     width: 90%;
     min-width: 288px;
     max-width: 900px;
     height: 218px;
     margin-top: 30px;
     text-align: center;
     align-self: center;
 }

.header_tittle_container h1 {
     font-size: 2.4rem;
     font-weight: bold;
     line-height: 2.6rem;
     color: var(--just-white);
}

.header_tittle_container p {
     margin-top: 25px;
     font-size: 1.4rem;
     font-weight: 500;
     line-height: 1.8rem;
     color: var(--soft-orange);
}

.header_tittle_container .header_button {
     position: absolute;
     top: 270px;
     display: block;
     margin-top: 35px;
     padding: 15px;
     width: 229px;
     height: 48px;
     background-color: var(--off-white);
     border-radius: 5px;
     /*Sombra*/
     box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.20);
     border: none;
     font-size: 1.4rem;
     font-weight: bold;
     text-decoration: none;
     color: var(--black);
     left: calc(50% - 116px); 
}

.header_button span {
     display: inline-block;
     width: 13px;
     height: 8px;
     margin-left: 10px;
     background-image: url('../assets/icons/down-arrow.svg');
}

main {
     width: 100%;
     height: auto;
     background-color: var(--off-white);
}

 .main_exchange_container {
     width: 100%;
     height: auto;
     padding-top: 80px;
     padding-bottom: 30px;
     text-align: center;
 }

 .main_exchange_container_tittle {
     width: 90%;
     min-width: 288px;
     max-width: 900px;
     margin: 0 auto;

 }

 .main_exchange_container .background_img {
     width: 200px;
     height: 200px;
     margin: 0 auto;
     margin-bottom: 50px;
     background-image: url('../assets/img/Bitcoin.svg');
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
 }

 .main_exchange_container h2 {
     margin-bottom: 30px;
     font-size: 2.4rem;
     font-weight: bold;
     line-height: 2.6rem;
     color: var(--black);
 }

 .main_exchange_container p {
     margin-bottom: 30px;
     font-size: 1.4rem;
     font-weight: 500;
     line-height: 1.6rem;
     color: #757575;
 }
 
 .main_table_container {
    display: flex;
    height: auto;
    overflow-y: visible;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type:  x proximity;   
 }

 .main-currency-table {     
     width: 70%;
     min-width: 235px;
     max-width: 500px;
     height: 360px;
     margin: 0 40px;     
     position: relative;
     scroll-snap-align: center;
     font-family: "Inter", sans-serif;
 }

 .main-currency-table:last-child:after {
    content: "";
    width: 70px;
    height: 1px;
    position: absolute;
    left: 100%;
    top: 0px;
}

 .main-currency-table .currency-table-title {
     margin: 15px;
     font-size: 1.8rem;
     font-weight: bold;
     text-align: left;
     line-height: 2.3rem;
     color: var(--bitcon-orange);
 }
 
 .main-currency-table .comisions {
     color: var(--secundary-blue)    ;
 }

 .main-currency-table .currency-table-date {
     width: max-content;
     height: 30px;
     font-family: "Inter";
     margin: 0 auto;
     padding: 8px;
     border-radius: 8px;
     background-color: var(--soft-orange);
     overflow: hidden;
 }

 .main-currency-table .soft-blue {
     background-color: var(--soft-blue);
 }
 .secundary-blue {
    background-color: var(--secundary-blue) !important;
}

 .main-currency-table .currency-table-date p {
     font-size: 1rem;
     color: var(--warm-black);
 }


 .currency-table-container {
     width: 90%;
     min-width: 230px;
     max-width: 300px;
     height: 250px;
     margin: 0 auto;
     margin-bottom: 16px;
 }

 .currency-table-container table{
     width: 100%;
     height: 100%;
     text-align: center;
     border-radius: 8px;
     background-color: var(--just-white);
     box-shadow: 0px 5px 9px rgb(161, 161, 161);
 }

 .currency-table-container td {
     width: 50%;
     font-size: 1.6rem;
     font-weight: 500;
     line-height: 1.9rem;
     color: var(--grey);
 }

 .currency-table-container .table__top-left {
     border-radius: 8px 0 0 0;
 }

 .currency-table-container .table__top-rigth {
     border-radius: 0 8px 0 0;
 }

 .currency-table-container .table__bottom-rigth {
     border-radius: 0 0 8px 0;
 }

 .currency-table-container .table__bottom-left {
     border-radius: 0 0 0 8px;
 }

 .main-currency-table .table__rigth {
     font-size: 1.4rem;
     font-weight: normal;
     line-height: 1.7rem;
     color: #757575;
 }
 .main-currency-table-icon {
     display: inline-block;
     width: 15px;
     height: 15px;
     margin-left: 10px;
     background-image: url("../assets/icons/trending-down.svg");
     background-size: contain;
     background-position: center;
     background-repeat: no-repeat;
     vertical-align: middle;
 }

 .trending-up {
     background-image: url("../assets/icons/trending-up.svg");
 }

 .main-product-detail {
     position: relative;
     width: 100%;
     min-width: 320px;
     height: auto;
     padding: 20px 15px;
     background-color: var(--black);
 }

 .product-detail--batata-logo {
     position: absolute;
     width: 40px;
     height: 25px;
     background-image: url("../assets/icons/batata.svg");
     top: -11px;
     left: calc(50% - 20px);
     background-size: contain;
     background-position: center;
     background-repeat: no-repeat;
 }

 .product-detail--title {
     width: 90%;
     min-width: 288px;
     height: auto;
     margin: 0 auto;
     margin-top: 45px;
 }

 .product-detail--title h2 {
     text-align: center;
     color: var(--just-white);
     font-weight: 700;
     font-size: 2.4rem;
     line-height: 2.6rem;
     margin-bottom: 20px;
 }

 .product-detail--title p {
     font-size: 1.4rem;
     line-height: 1.8rem;
     font-family: "DM Sans";
     text-align: center;
     color: #808080;
     margin-bottom: 30px
     ;
 }

 .product-detail--card {
     width: 100%;
     min-width: 288px;
     max-width: 400px;
     height: 150px;
     margin: 15px auto;
     padding: 15px;
     background-color: var(--warm-black);
     border-radius: 5px;
     box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
 }

 .product-detail--card .icon  {
     display: inline-block;
     width: 20px;
     height: 20px;
     margin-bottom: 10px;     
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
 }
 
 .product-detail--card .clock {
     background-image: url("../assets/icons/clock.svg");
 }

 .product-detail--card .dollar {
     background-image: url("../assets/icons/dollar-sign.svg");    
}

.product-detail--card .eye {
     background-image: url("../assets/icons/eye.svg");
}

.product-detail--card .check {
     background-image: url("../assets/icons/check-circle.svg");
}

.product-detail--card .product--card-title {
     font-size: 1.8rem;
     line-height: 1.8rem;     
     font-weight: bold;
     font-family: "DM Sans";
     color: var(--just-white);
     margin-bottom: 10px;
}

.product-detail--card .product--card-body {
     font-size: 1.4rem;
     font-weight: 1.8rem;
     font-weight: 500;
     color: #808080;
}

.bitcoing-img-container {
     width: 100%;
     min-width: 320px;
     height: 55vh;
     background-image: url('../assets//img/bitcoinbaby2x.jpg');
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     text-align: center;
}

.bitcoing-img-container h2 {
     padding-top: 60px;
     font-size: 2.4rem;
     font-weight: bold;
     line-height: 2.6rem;
     color: var(--just-white);
    
}

.main-plans-container {
     width: 100%;
     min-width: 320px;     
     padding-bottom: 65px;
     text-align: center;
}

.plans--title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
}

.plans--title h2 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--warm-black);
    margin-bottom: 20px;
}

.plans--title p {
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #757575;
    margin-bottom: 30px;
}

.plans-container--slider {
    display: flex;
    height: auto;
    overflow-y: visible;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type:  x proximity;    
}

.plans-container--slider .plans-container--card, .recomended {
    position: relative;
    scroll-snap-align: center;
    width: 60%;    
    min-width: 190px;
    max-width: 300px;
    height: auto;
    margin: 0 10px;
    margin-top: 30px;
    margin-bottom: 50px;
    padding-top: 31px;
    padding-right: 16px;
    padding-left: 16px;
    border-radius: 8px;
    background-color: var(--just-white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}

 .plans-container--card:last-child:after {
    content: "";
    width: 70px;
    height: 1px;
    position: absolute;
    left: 71%;
    top: 0px;
 }

.plans-card--title {
    position: absolute;
    width: 50%;
    max-width: 150px;
    height: 31px;
    left: calc(50% - 23%);
    top: -16px;
    padding: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 2rem;
    text-align: center;
    color: var(--just-white);
    border-radius: 8px;
    background-color: var(--bitcon-orange);    
}
.plans-card--body h3 {
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin-bottom: 8px;
}

.plans-card--body .plans-price {
    font-size: 5.2rem;
    font-weight: bold;
    position: relative;
    margin-bottom: 16px;
}

.plans-card--body .plans-price sup {
    position: absolute;
    left: 3.7rem;
    top: 1.2rem;
    font-size: 1.2rem;
    font-weight: normal;
    line-height: 1.4rem;
}

 .plans-card--body .saving-description{
    font-size: 1.2rem;
    line-height: 1.4rem;
    color: #757575;
    padding-bottom: 16px;
}

.plans-card--body button {
    width: 100%;
    max-width: 150px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: var(--off-white);
    border: 2px solid var(--bitcon-orange);
    border-radius: 4px;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: bold
}
.border-blue {
    border:2px solid var(--secundary-blue) !important;
}

.plans-card--body button span {
    display: inline-block;
    margin-left: 8px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background-image: url("../assets/icons/orange-right-arrow.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center
}

footer {
    display: flex;
    width: 100%;
    height: 150px;
    background-color: var(--bitcon-orange);
}



footer section {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .left ul {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
}

.left li {
    margin: 10px 0;    
}

.left li a {
    text-decoration: none;
    color: var(--just-white);
}